html {
    height: 100%;
}

.post {
    padding: 20px;
    margin: 15px 10px 15px 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #161711;
    text-decoration: none;
    list-style: none;
    box-shadow: 0px 10px 10px  #D8D8D8;
}

#waktu {
    font-size: 15px;
    margin-bottom: 5px;
}
#tulisan {
    line-height: 16;
}